#year {
	color: orange;
}

#map {
	height: 800px;
	width: 100%;
}

a[name] {
	text-decoration: none;
	color: black;
}
a[name]:hover {
	text-decoration: none;
	color: black;
}

#diagram {
	width: 100%;
	height: 350px;
}

#criteria, #criteria ul {
	list-style-type: none;
}

#legend, #boundaries {
    background: transparent none repeat scroll 0% 0%;
    clear: both;
    padding: 0px;
    margin: 15px 0px 0px;
    list-style: outside none none;
}
#legend li, #boundaries li {
	width: 32%;
	float: left;
	margin: 0 1% 10px 0;
	white-space: nowrap;
	text-align: center;
	display: list-item;
}
#legend-left {
	border-top: 10px solid #006622;
}
#legend-middle {
	border-top: 10px solid #cc7a00;
}
#legend-right {
	border-top: 10px solid #cc0000;
}

#settingsBox br {
	clear: left;
}