#year {
	color: orange;
}

#map {
	height: 700px;
	width: 100%;
}

a[name] {
	text-decoration: none;
	color: black;
}
a[name]:hover {
	text-decoration: none;
	color: black;
}

#mapData {
	width: 350px;
}
#chart {
	width: 100%;
	height: 300px;
}

#moredata {
	width: 100%;
	height: 300px;
	display: none;
	padding: 7px;
	overflow-y: auto;
}
#moredata h4 {
	text-align: center;
	margin-top: 1px;
	font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif;
	font-size: 16px;
}
#moredata ul {
	margin-left: 8px;
	padding-left: 8px;
}
#moredata li {
	list-style-type: square;
}

#criteria, #criteria ul {
	list-style-type: none;
}

#legend, #boundaries {
    background: transparent none repeat scroll 0% 0%;
    clear: both;
    padding: 0px;
    margin: 15px 0px 0px;
    list-style: outside none none;
}
#legend li, #boundaries li {
	margin: 0 0 10px 0;
	float: left;
	white-space: nowrap;
	text-align: center;
	display: list-item;
}
#legend li {
	margin-right: 1%;
	width: 24%;
}
#boundaries li {
	margin-right: 1%;
	width: 49%;
}
#legend1 {
	border-top: 10px solid #006622;
}
#legend2 {
	border-top: 10px solid #cc7a00;
}
#legend3 {
	border-top: 10px solid #cc0000;
}
#legend4 {
	border-top: 10px solid #000000;
}
.legend-unit {
	float: right;
	margin-top: 1em;
}
.introjs-helperNumberLayer {
    width:  30px;
    height: 30px;
}
