#year {
	color: orange;
}

#map {
	height: 700px;
	width: 100%;
}

a[name] {
	text-decoration: none;
	color: black;
}
a[name]:hover {
	text-decoration: none;
	color: black;
}

#diagram {
	width: 350px;
	height: 350px;
}

#criteria, #criteria ul {
	list-style-type: none;
}

#legend, #boundaries {
    background: transparent none repeat scroll 0% 0%;
    clear: both;
    padding: 0px;
    margin: 15px 0px 0px;
    list-style: outside none none;
}
#legend li, #boundaries li {
	margin: 0 0 10px 0;
	float: left;
	white-space: nowrap;
	text-align: center;
	display: list-item;
}
#legend li {
	margin-right: 1%;
	width: 24%;
}
#boundaries li {
	margin-right: 1%;
	width: 49%;
}
#legend1 {
	border-top: 10px solid #006622;
}
#legend2 {
	border-top: 10px solid #cc7a00;
}
#legend3 {
	border-top: 10px solid #cc0000;
}
#legend4 {
	border-top: 10px solid #000000;
}
.legend-unit {
	float: right;
	margin-top: 1em;
}